.mainpage {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f3f5fd 40%,
    #6378eb 100%
  );
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Figtree', sans-serif;
  color: #373f41;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.btn-group {
  display: flex;
  gap: 12px;
}

.getstart {
  background-color: #f3f5fd;
  border: 2px solid #6378eb;
  border-radius: 20px;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  color: #6378eb;
}

.getstart:hover {
  background-color: #6378eb;
  color: white;
}

.subtext-main{
  background-color: rgba(152, 160, 161, 0.8);
  padding: 13px;
  border-radius: 30px;
}

.subtext {
  font-size: 13px;
  color: #f3f5fd;
}

.get-start {
  font-size: 20px;
  font-weight: bold;
  background: transparent;
  border: none;
  cursor: pointer;  
  color: #6378eb;
}
.get-start:hover {
  color: white;
}

.arrow {
  font-size: 24px;
  animation: bounce 1s infinite;
  color: white;
  margin-top: 8px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}
