
/* 마이페이지 헤더 */
.mypage-header {
    display: flex;
    justify-content: space-between;
}
/* 진척도 */
.mypage-container{
    
}
/* 즐겨찾기 */
.Favorites{
}

.curriculum{
    display: flex;
    align-items: center;  
    width: 100%;
}

.curriculum .labels{
    border: 1px solid #000;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-right: 10px;
}

.curriculum .names{
}

.mypage-footer{
}