/* 영문 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* 한글 폰트 */
@font-face {
  font-family: 'NanumSquareNeo';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

button {
  cursor: pointer;
}

@theme {
  --color-blue01: #f4f9ff;
  /* 가장 밝은 파란색 */
  --color-blue02: #e6effd;
  --color-blue03: #d3e5ff;
  --color-blue04: #c3dcff;
  --color-blue05: #b3d2ff;
  --color-blue06: #a2c9ff;
  --color-blue07: #92bfff;
  --color-blue08: #78b0ff;
  --color-blue09: #6ca9ff;
  /* 가장 어두운 파란색 */


  --color-green01: #f2f9fb;
  --color-green02: #e2f2f4;
  --color-green03: #d2ebee;
  --color-green04: #b7e2e5;
  --color-green05: #9cd8dc;
  --color-green06: #82cfd4;
  --color-green07: #73ccd7;

  --color-gray01: #ffffff;
  --color-gray02: #f9f9fa;
  --color-gray03: #ededf1;
  --color-gray04: #dfdfe0;
  --color-gray05: #d8d8da;
  --color-gray06: #c9c9ca;
  --color-gray07: #bcbcbe;
  --color-gray08: #939494;
  --color-gray09: #59595a;
  --color-gray10: #1b1a1b;
}

#articles {
  width: 600px;
  margin: 0 auto;
}